body {
  background-image: linear-gradient(
    to right,
    black,
    black 50%,
    black 50%,
    black
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
